name: tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Display Python version
      run: python -c "import sys; print(sys.version)"

    - name: Install dependencies
      run: pip install pytest black==24.8.0 flake8==7.1.1

    - name: Lint with black
      run: black --check . --line-length=88

    - name: Lint with flake8
      run: flake8 . --max-line-length=88 --ignore=E402

    - name: Run tests
      run: make test
